<div class="container">
  <div class="insertTask">
    <ul class="listTasks">
      <h1>To-do List</h1>
      <div class="spaceBottom64">
        <input type="text" title="Adicione uma tarefa" [(ngModel)]="newTask" />
        <button class="saveButton" (click)="addTask()">Adicionar</button>
      </div>
      <li
        class="cardTask"
        [title]="task"
        *ngFor="let task of tasks; let i = index"
      >
        <p class="taskLoaded">{{ task }}</p>
        <button class="doneButton" (click)="removeTask(i)">Feito</button>
      </li>
    </ul>
  </div>
</div>
