:host {
  .spaceBottom64 {
    margin-bottom: 64px;
  }
  h1 {
    text-align: center;
    font-weight: 300;
    padding: 13px;
  }
  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 15px;

    .insertTask {
      display: flex;
      align-content: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: auto;

      input {
        padding: 17px;
        height: auto;
        margin-right: 10px;
        margin-top: 20px;
        border: none;
        background-color: #e4e4e4;
        border-bottom: 2px solid#939;
        border-radius: 5px;
        transition: all 0.3s;

        &:focus {
          outline: none;
          border-bottom: 2px solid #339972;
        }
      }

      .saveButton {
        border: none;
        border-radius: 10px;
        padding: 12px;
        background-color: #339972;
        color: #fff;
        font-size: 14px;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          background-color: #1f694d;
        }
      }
    }
  }
  .listTasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

    .cardTask {
      display: flex;
      justify-content: space-between;
      max-width: 370px;
      height: auto;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      border-bottom: 2px solid #939;
      margin-top: 10px;
      background-color: #f8e2e2;
      color: #000;
      font-size: 24px;

      &:hover {
        border-bottom: 2px solid #92940b;
      }
      .taskLoaded {
        margin-right: 1vw;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-word;
      }

      .actionButtons,
      .remove {
        background-color: #339972;
        border: none;
        border-radius: 5px;
        padding: 5px;
        margin-left: 5px;
        cursor: pointer;

        img {
          width: 20px;
        }
      }

      .remove {
        background-color: #e2d300;
      }
    }
    .done {
      text-decoration: line-through;
    }
  }
}
